body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer{
    background: #1f2937;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    padding-left: 88px;
    padding-right: 88px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
}

.hero-div {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px;
}

.hero-left {
    width: 420px;
    margin-right: 32px;
    flex-shrink: 0;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sub-text {
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 8px;
}

.signup-btn {
    background: #3882f6;
    color: #e5e7eb;
    border: 3px solid #3882f6;
    border-radius: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 900;
}

.information-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 48px;
}

.information-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 48px;
}

.img-box-div {
    display: flex;
    justify-content: center;
    gap: 48px;    
}

.img-box {
    border: 3px solid #3882f6;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.img-box img {
    border-radius: 8.5%;
}

.img-col1, .img-col2, .img-col3, .img-col4 {
    display: flex;
    flex-direction: column;
}

.img-subtext {
    width: 150px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 48px;
}

.quote-section {
    background: #e5e7eb;
    padding-left: 132px;
    padding-right: 132px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote-citation {
    text-align: right;
    font-weight: 900;
    padding-right: 48px;
}

.call-to-action {
    background: #3882f6;
    color: #e5e7eb;
    margin: 132px;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.cta-right {

}

.cta-header {
    font-size: 18px;
    font-weight: 900;
}

.cta-text {

}

.cta-btn {
    background: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 900;    
}

footer {
    margin-top: auto;
    padding: 48px;
}

footer .copyright {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}